body {
    text-align: center;
}

h1 {
  color: #2c542d;
}

.game-time {
  display: none;
  border: solid 3px #DEB887;
  background-color: #010860;
  color: #e2f8ff;
  width: 300px;
  margin: 0 auto 5px auto;
  font-size: 25px;
}

.start-game {
    border: solid 3px #DEB887;
    background-color: #65d273;
    color: #2c542d;
    margin-top: 5px;
    font-size: 25px;
}

table {
    background-color: #FAEBD7;
    border: 9px solid #DEB887;
    margin: auto;
}

td {
    background-color: #F0F8FF;
    text-align: center;
    font-family: Times New Roman;
    color: #2c542d;
    vertical-align: middle;
}

#box td {
    border: solid 1px #2c542d;
    text-align: center;
    font-size: 40px;
    font-family: Times New Roman;
    color: #2c542d;
    width: 60px;
    height: 60px;
}

#box td:hover {
    color: #96003b;
    cursor: hand;
}
