
* {
  margin: 0;
  padding: 0;
}


table {
  background-color: #FAEBD7;
  border: 9px solid #DEB887;
  height: 300px;
  width: 300px;
  margin: auto;
}

tr {
  text-align: center;
}

td {
  background-color: #F0F8FF;
}

td.empty {
  background-color: white;
}
